.box {
  border: solid 6px white;
  min-height: 350px;
  padding: 20px;
}

body {
  // background-color: #383F54;
  padding: 15px;
}

.meals {
  color: white;
}

#jumbo {
  background-image: url("../../resources/images/food1.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 400px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#all {
  background-image: url("../../resources/images/pinaepple.jpeg");
  background-size: cover;
  background-position: bottom;
}

#low {
  background-image: url("../../resources/images/umbrellas.jpg");
  background-size: cover;
  background-position: bottom;
}

.low-meals {
  color: white;
  text-shadow:
  #000 0px 0px 1px,
  #000 0px 0px 1px,
  #000 0px 0px 1px,
  #000 0px 0px 1px,
  #000 0px 0px 1px,
  #000 0px 0px 1px;
}

#high {
  background-image: url("../../resources/images/balloon2.jpeg");
  background-size: cover;
  background-position: center;
}
